.wrapper{
	margin: 5px;
}

.face{
	width:75px;
	height:75px;
	border:solid 2px black;
	background-color: yellow;
	border-radius: 50px;
}

.lefteye{
	width:6px;
	height: 6px;
	border:solid 1px black;
	border-radius: 3px;
	z-index: 1;
	position:relative;
	left:32px;
	top: 26px;
	background-color: black;
}

#inner-left{
	width:2px;
	height:2px;
	border:solid 1px white;
	border-radius:2px;
	z-index: 1;
	position:relative;
	left:2px;
	top: 2px;
	background-color: white;
}

.righteye{
	width:6px;
	height: 6px;
	border:solid 1px black;
	border-radius: 3px;
	z-index: 1;
	position:relative;
	left:54px;
	top: 18px;
	background-color: black;
}

#inner-right{
	width:2px;
	height:2px;
	border:solid 1px white;
	border-radius:3px;
	z-index: 1;
	position:relative;
	left:2px;
	top: 2px;
	background-color: white;
}

.mouth{
	width:30px;
	height: 10px;
	border:solid 1px black;
	border-radius: 0px 0px 45px 45px;  /*Adjust this to change*/
	margin:16px;
	position:relative;
	top: 1em;
	left:1em;
	background-color: black;
}